extends ./layout
                                                                                                                                                          
block content
    #page-wrapper
      form.posting(role='form', action='/posting/create', method='post', enctype="multipart/form-data")
        .form-group
          input.form-control(type="text", name="title", placeholder="Title...")
        .form-group
          textarea.form-control(rows="2", name="description", placeholder="Message...")
        .form-group
          img.img-rounded.img-thumbnail#imgpreview(src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=")
        .form-group
          label.btn.btn-default.btn-file.form-control Image Browser
            input(type="file", style="display: none;", name="imgfile", onchange="readURL(this)")
        .form-group
          input.form-control.btn.btn-primary(type="submit", value="Write", onclick="displayLoading()")
          
      .container.loader(style="display:none")
      ul.timeline
        - for(var i = 0; i < postings.length; i++) {
          - if(i % 2 === 0)
            li
              .timeline-badge
                i.glyphicon.glyphicon-check
              .timeline-panel
                .timeline-heading
                  strong
                    h4.timeline-title #{postings[i].title}
                .timeline-body
                  hr(style='width: 100%; color: black; height: 1px;')
                  p
                    img.img-responsive(src="/tool/img/" + postings[i].imgDir)
                  p #{postings[i].description}
                .timeline-footer
                  hr(style='width: 100%; color: black; height: 1px;')
                  small.text-muted
                    p.text-right Image Tags :: 
                      -for(var j = 0; j < postings[i].imgTags.length; j++)
                        span.label.label-success #{postings[i].imgTags[j]}
                    p.text-right Contents Topic :: 
                      -for(var k = 0; k < postings[i].txtTopic.length; k++)
                        span.label.label-primary #{postings[i].txtTopic[k]}
                    p.text-right
                      i.glyphicon.glyphicon-time #{postings[i].postingDate}
                    hr(style='width: 100%; color: black; height: 1px;')
                    p.text-right #{postings[i].username}
          - else
            li.timeline-inverted
              .timeline-badge
                i.glyphicon.glyphicon-check
              .timeline-panel
                .timeline-heading
                  strong
                    h4.timeline-title #{postings[i].title}
                .timeline-body
                  hr(style='width: 100%; color: black; height: 1px;')
                  p
                    img.img-responsive(src="/tool/img/" + postings[i].imgDir)
                  p #{postings[i].description}
                .timeline-footer
                  hr(style='width: 100%; color: black; height: 1px;')
                  small.text-muted
                    p.text-right Image Tags :: 
                      -for(var j = 0; j < postings[i].imgTags.length; j++)
                        span.label.label-success #{postings[i].imgTags[j]}
                    p.text-right Contents Topic :: 
                      -for(var k = 0; k < postings[i].txtTopic.length; k++)
                        span.label.label-primary #{postings[i].txtTopic[k]}
                    p.text-right
                      i.glyphicon.glyphicon-time #{postings[i].postingDate}
                    hr(style='width: 100%; color: black; height: 1px;')
                    p.text-right #{postings[i].username}
        - }
            li.clearfix.no-float
      p.footer
        | Icons by 
        a(href='http://fortawesome.github.io/Font-Awesome/') FontAwesome 4.1 Icons
        | .
        br
        |   Created by 
        a(href='http://jenniferperrin.com') Jennifer Perrin
    // /#page-wrapper
  // /#wrapper
